@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 96%;
        --foreground: 0 0% 9%;
        --muted: 0 0% 85.66%;
        --muted-foreground: 346.19 0% 40.35%;
        --popover: 0 0% 93%;
        --popover-foreground: 0 0% 0%;
        --card: 0 0% 94%;
        --card-foreground: 0 0% 4%;
        --border: 0 0% 87.84%;
        --input: 0 0% 88%;
        --primary: 0 0% 9.02%;
        --primary-foreground: 0 0% 96.08%;
        --secondary: 0 0% 81.18%;
        --secondary-foreground: 0 0% 15%;
        --accent: 0 0.13% 86.49%;
        --accent-foreground: 0 0% 21%;
        --destructive: 6 92% 43%;
        --destructive-foreground: 0 0% 100%;
        --ring: 346.19 0% 40.35%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 7% 8%;
        --foreground: 0 0% 78%;
        --muted: 240 6.31% 13.09%;
        --muted-foreground: 0 0% 55.66%;
        --popover: 240 7% 5%;
        --popover-foreground: 0 0% 88%;
        --card: 240 7% 6%;
        --card-foreground: 0 0% 83%;
        --border: 240 5.88% 20%;
        --input: 240 5.88% 20%;
        --primary: 0 0% 78.04%;
        --primary-foreground: 240 7.32% 8.04%;
        --secondary: 240 5.88% 20%;
        --secondary-foreground: 0 0% 85%;
        --accent: 240 7% 23%;
        --accent-foreground: 240 7% 83%;
        --destructive: 0 84% 49%;
        --destructive-foreground: 0 0% 100%;
        --ring: 0 0% 55.66%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply min-h-screen bg-background font-sans text-foreground antialiased;
    }
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    @apply rounded-md bg-muted-foreground;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply my-1.5 scroll-m-20 font-semibold tracking-tight text-foreground;
}

h1 {
    @apply text-xl;
}

h2 {
    @apply pb-2 text-lg;
}

h3 {
    @apply text-base;
}

h4 {
    @apply text-sm;
}

p,
a,
ul,
ol,
blockquote,
pre {
    @apply text-muted-foreground;
}

strong {
    @apply text-foreground;
}

a {
    @apply transition-all duration-100 hover:text-foreground;
}

a[aria-current='true'] {
    @apply text-foreground;
}

blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
}

code {
    @apply relative rounded-md bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold text-foreground;
}

.rehype-code-title {
    @apply rounded-t-md border-x border-t bg-card px-3 py-1.5 text-card-foreground;
}

.rehype-code-title + pre {
    @apply mt-0 rounded-t-none;
}

pre {
    @apply overflow-x-auto rounded-md border p-3;
}

:not(pre) > code {
    @apply whitespace-break-spaces rounded bg-muted px-[0.2em] py-[0.15em] text-[85%] before:content-[""] after:content-[""];
}

/* Dark Mode */
.shiki,
.shiki span {
    @apply dark:!bg-[var(--background)] dark:!text-[var(--shiki-dark)];
}
